:root {
    
    --color-background: #121212;
    --color-surface: #1E1E1E;
    --color-primary: #C62828;
    --color-secondary: #2E7D32;
    --color-highlight: #F9A825;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #B0BEC5;
  }

h1 {
    text-align: center;
    color: var(--color-text-primary);
    font-size: 70px;
    margin-top: 5px;
}

body {
    position: absolute;
    height: 500px;
    width: 800px;
    margin: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-background);
    color: var(--color-text-secondary);
}

#displayOne{
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: 30px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 10px;
}

#displayOne div {
    border-style: solid;
}

.headers {
    border-radius: 80px;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-size: 30px;
    border-radius: 20px;
}

#playerOneLegsTitle, #playerTwoLegsTitle {
    background-color: var(--color-background);
}

#displayTwo {
    display: grid;
    grid-template-columns: auto 270px auto;
    height: 300px;
    border-radius: 20px;
}

#startGame {
    position: absolute;
    margin: 50px;
    margin-left: 200px;
    text-align: center;
    font-size: 40px;
}

#startGame input {
    font-size: 30px;
    text-align: center;
}

#thrower {
    text-align: center;
    position: relative;
    margin: 50px;
    font-size: 35px;
    color: var(--color-text-secondary);
}

#undo:hover {
    background-color: var(--color-primary);
}

#displayTwo button {
    background-color: var(--color-surface);
    color: var(--color-text-secondary);
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 40px;
    transition-duration: 0.3s;
    margin: 5px;
    box-shadow: 4px 4px;

}

#displayTwo #userInput {
    font-size: 30px;
    border-radius: 40px;
    text-align: center;
}

#displayTwo button:hover {
    background-color: var(--color-secondary);
}

#displayTwo #undo:hover {
    background-color: var(--color-primary);
}

#displayTwo #clear:hover {
    background-color: var(--color-primary);
}

